<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ultimate.albatross">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Albatros"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="JANE LOW"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        />
        <activity android:name=".Register"
            />
        <activity
            android:name=".Terms"
            android:label="TERMS AND CONDITIONS"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".Welcome"
            />
        <activity android:name=".Forgot" />
        <activity android:name=".Welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>